---
import Layout from '../layouts/BlogPost.astro';
---
<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8"/>
		<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
	
		ym(98206072, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/98206072" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	</head>
	<Layout
		title="Обо мне"
		description="наконец-то я это написал"
		pubDate={new Date('August 30 2024')}
		heroImage="/avatar.png"
	>
		<p>
			Итак всем привет, это вступление, поэтому подолжаем.....

		</p>

		<p>
			Начнем! Привет всем читающим ¬_¬

		</p>

		<p>
			Я Михаил, на момент написания статьи мне исполнилось 15 лет. Активно занимаюсь программированием на Python, C#, 
			и возможно astro(HTML + CSS)
			именно на нем написан этот сайт. Я сделал достаточно много проэктов благодоря которым узнал много нового ))) 
			Сейчас занимаюсь этим сайтом, ботом в тг <a href="projects/audiostickers">(пост)</a> и поэктом для сдачи (Little Knight) <a href="projects/littleknight">(пост)</a>....
			Также Pycontrol <a href="projects/pycontrol">(пост)</a>
		</p>
		<p>
			Из особенного могу отметить Linux, 3D моделированние (например обложка для этой страницы), StableDiffusion <a href="projects/sd_install">(пост)</a> !!!
		</p>

		<p>
			Чуточку про себя....
		</p>

		<p>
			Из спорта занимаюсь Тхеквондо, также есть Sap-борд... <p>Люблю играть в Grip, Content Warning, DST, Forza Horizon 4, Mindustry, OSU... 
			этот список могу дальше продолжать, поэтому вот <a href = "https://steamcommunity.com/id/MI_KO/">стим</a></p> 
		</p>
		<p>
			Увлекаюсь рисованием... <p>вот все больше что писать не знаю.....</p>
		</p>
		<p>Подписывайтесь на соцсети и иногда тут будет выходить интересная инфа и посты, если интересно можете донатить >>>
			<a href="https://donate.stream/m6rshm3ll0w">^_^</a> </p>
	</Layout>
</html>