---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8"/>
		<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();
	for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
	ym(98206072, "init", {
		 clickmap:true,
		 trackLinks:true,
		 accurateTrackBounce:true,
		 webvisor:true
	});
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/98206072" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/ >	
	</head>
	<body>
		<Header />
		<main>
			<style>
				li {
				 margin-bottom: 1em; /* Расстояние снизу */
				}
			   </style>
			<h2>ПРИВЕТ ВСЕМ!</h2>
			<p>
				Сейчас я работаю над несколькими проэктами:
				<ul>
					<li>>> <a href="https://t.me/asmembot"><b>AudioStickers</b></a> -
						 Телеграмм бот для того чтобы все аудио-стикеры и генерации были в одном месте и ты мог делиться ими с друзьями...
						<p>P.s. дорабатывается Chat-GPT, чтобы ты мог быстро отвечать другу на сложные вопросы 😎</p>также есть генерация картинок с использованием <code>FUSION BRAIN.api</code></li>
					<li>>> <a href="https://github.com/m6rshm3ll0w/PyControl"><b>PyControl</b></a> - Достаточно простая программа для управления своим компом(похожа на вирус, но нет), OpenCource</li>
					<li>>> <a href="/projects/sd_install/"><b>Как поставить Stable Diffusion</b></a> - статья на моем сайте а также <a href="https://disk.yandex.ru/d/DbMrtivuCG--QA"><b>билд SD</b></a> на ЯндексДиске (пароль: ХочуSD), а также русская локализация(indev)</li>
					<li>>> <a href=""><b>Little Knight</b></a> - Игра-Платформер написанная на GODOT+GDscript (indev)</li>
				</ul>
			</p>
			<p>⠀
				<p>
					Больше обо мне - <a href="/about/"><b>тут</b></a>, О проэктах - <a href="/projects/"><b>тут</b></a> следите за соцсетями.... там выходят уведомления о новой инфе на сайте
				</p>
			</p>
				Как всегда для желающих донаты на развитие проэктов >>> <a href="https://donate.stream/m6rshm3ll0w"
					>=]
				</a> ииии <a href="https://discord.gg/YMGt56UnZq">Присоеденяйся к дискорд-серверу</a> чтобы задавать вопросы, также есть форма для обратной связи по ботам >>> <a href="/otform">W _ W</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
